@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
  margin: 0;
  height:100%;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display:flex;
  flex-direction:column;
}

img {
  max-width: 100%;
  margin: auto;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding-top:5px;padding-bottom:5px;
  padding-right:15px;padding-left:15px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: auto;
}

.header, .footer, .left-links, .right-links{
  display:flex;
  gap:16px;
  padding: 5px;
}
.header{
  top:0%;
}
.footer{
  background-color:#f5f4f4;
  align-items:flex-end;
}
.content{
  display:flex;
  margin:auto;
  width:70%;
  flex-direction:column;
}
.input{
  margin: auto;
}
.buttons{
  text-align:center;
  padding:10px;
}
.left-links{
  margin-left:0px; margin-right:auto;
}
.right-links-links{
  margin-right:0px; margin-left:auto;
}
a{
  text-decoration: none;
  color: inherit;
  outline: 0;
  cursor: auto;
}